<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.starbucks.mapper.MenuMapper">

    <select id="selectById" resultType="org.tukorea.starbucks.domain.MenuVO">
     <![CDATA[
        select * from menu where id =#{id}
        ]]>
     </select>

    <select id="selectAll" resultType="org.tukorea.starbucks.domain.MenuVO">
		<![CDATA[
        select * from menu
        ]]>
	</select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="MenuVO">
        insert into menu(menu_name, publisher, content, nutrition_info, kcal, saturated_fat, protein, natrium, sugars, caffeine) values
            (#{menu_name}, #{publisher}, #{content}, #{nutrition_info}, #{kcal}, #{saturated_fat}, #{protein}, #{natrium}, #{sugars}, #{caffeine})
    </insert>

    <update id="update" >
        update menu set menu_name =#{menu_name}, publisher=#{publisher}, content =#{content}, nutrition_info =#{nutrition_info}, kcal =#{kcal}, saturated_fat =#{saturated_fat}, protein =#{protein}, natrium =#{natrium}, sugars =#{sugars}, caffeine =#{caffeine}
        where id = #{id}
    </update>


    <delete id="delete">
        delete from menu where id = #{id}
    </delete>

<!--    <select id="readReviewList" resultType="ReviewVO">-->
<!--        select * from review where residence = #{residence} and residenceGu = #{residenceGu}-->
<!--    </select>-->

<!--    <insert id="reviewInsert">-->
<!--        insert into review(boardnum, userid, comment, residence, residenceGu) values-->
<!--            (#{boardnum},#{userid}, #{comment}, #{residence}, #{residenceGu})-->
<!--    </insert>-->

<!--    <delete id="reviewDelete">-->
<!--        delete from review where num = #{num}-->
<!--    </delete>-->

</mapper>