<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.starbucks.mapper.MenuMapper">

    <select id="menuList" resultType="org.tukorea.starbucks.domain.MenuVO">
     <![CDATA[
        select * from board_free where residence = #{residence} and residenceGu = #{residenceGu} order by board_date DESC
        ]]>
     </select>

    <insert id="menuPost" useGeneratedKeys="true" keyProperty="menuCode">
        insert into board_free(id, residence,residenceGu, content, image) values
            (#{id},#{residence},#{residenceGu}, #{content}, #{image})
    </insert>

    <update id="update" >
        update board_free set content =#{content}
        where num = #{num}
    </update>

    <select id="read" resultType="BoardVO">
        select * from board_free where num = #{num}
    </select>

    <delete id="delete">
        delete from board_free where num = #{num}
    </delete>

    <select id="comment" resultType="CommentVO">
        select * from comment_free where residence = #{residence} and residenceGu = #{residenceGu}
    </select>

    <insert id="commentinsert">
        insert into comment_free(boardnum, userid, comment, residence, residenceGu) values
            (#{boardnum},#{userid}, #{comment}, #{residence}, #{residenceGu})
    </insert>
    <delete id="commentdelete">
        delete from comment_free where comment_num = #{Comment_num}
    </delete>

    <delete id="commentdeletes">
        delete from comment_free where boardnum = #{num}
    </delete>
</mapper>