<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.starbucks.mapper.MenuMapper">

    <select id="readMenuList" resultType="org.tukorea.starbucks.domain.MenuVO">
     <![CDATA[
        select * from menu order by board_date DESC
        ]]>
     </select>

    <insert id="menuInsert" useGeneratedKeys="true" keyProperty="id" parameterType="MenuVO">
        insert into menu(menuName, content, nutritionInfomation, kcal, saturatedFat, protein, natrium, sugars, caffein, allergy, image) values
            (#{menuName}, #{content}, #{nutritionInfomation}, #{kcal}, #{saturatedFat}, #{protein}, #{natrium}, #{sugars}, #{caffein}, #{allergy}, #{image})
    </insert>

    <update id="menuUpdate" >
        update menu set menuName =#{menuName}, content =#{content}, nutritionInfomation =#{nutritionInfomation}, kcal =#{kcal}, saturatedFat =#{saturatedFat}, protein =#{protein}, natrium =#{natrium}, sugars =#{sugars}, caffein =#{caffein}, allergy =#{allergy}, image =#{image}
        where id = #{id}
    </update>


    <delete id="MenuDelete">
        delete from menu where id = #{id}
    </delete>

    <select id="readReviewList" resultType="ReviewVO">
        select * from review where residence = #{residence} and residenceGu = #{residenceGu}
    </select>

    <insert id="reviewInsert">
        insert into review(boardnum, userid, comment, residence, residenceGu) values
            (#{boardnum},#{userid}, #{comment}, #{residence}, #{residenceGu})
    </insert>

    <delete id="reviewDelete">
        delete from review where num = #{num}
    </delete>

</mapper>