<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.starbucks.mapper.UserMapper">

    <insert id="register">
        insert into user (id, passwd, user_name, email, phone_num) values
            (#{id}, #{passwd}, #{user_name}, #{email}, #{phone_num})
    </insert>

    <select id="login" resultType="MemberVO">
        select id, passwd, userName, email, phone_num from user where id = #{id} and passwd = #{passwd}
    </select>

    <select id="selectByid" resultType="org.tukorea.starbucks.domain.MemberVO">
		<![CDATA[
        select * from user where id = #{id}
        ]]>
	</select>

    <update id="update">
        update user set id = #{id}, passwd = #{passwd}, username = #{user_name},
                         email = #{email}, phone_num = #{phone_num}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user where id = #{id}
    </delete>

</mapper>